.bground{
    background-image: url(../../Images/h1_hero1.jpg.webp);
    height: 125vh;
    background-size: cover;
    background-position: center;
}
.logo-stl:hover{
    cursor: pointer;
}
.navbar-stl{
    background-color: gray;
}
.cont-button{
    justify-content: flex-end !important;
}
.men-stl{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.men-stl:hover{
    cursor: pointer;
}
.contact{
    align-items: center;
}
.me-2:hover{
    cursor: pointer;
}
.nav-item a{
    transition: all 0.5s ease-in-out 50ms;
}
.nav-item a:hover{
    color: gray !important;
}
.blog-stl:hover .blogchs-stl{
    display: block;
    transition: all 0.5s ease-in-out 50ms;
}
.nm-dot{
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 10px;
}
.main-text1{
    transition: all 0.5s ease-in-out 50ms;
}
.main-text2{
    transition: all 1.5s ease-in-out 2s;
}
.main-text3{
    transition: all 2s ease-in-out 3s;
}
.mainbtn-stl{
    border-radius: 0%;
    transition: all 0.5s ease-in-out 50ms;
}
.mainbtn-stl:hover{
    border: 1px solid white;
    background-color: transparent !important;
}
.btn-text:hover{
    color: darkred;
}
.btn-stl{
    border: 1px solid transparent;
    border-radius: 0%;
    transition: all 0.5s ease-in-out 50ms;
}
.btn-stl:hover{
    border: 1px solid white;
    background-color: transparent;
}



@media screen and (min-width: 992px) {
    .navbar-stl{
        background-color: transparent;
    }
    .main-text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 15vw;
    }
    .font-stl{
        font-size: 61px;
        width: 40vw;
    }
}
@media screen and (min-width: 1298px) {
    .main-text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15vh;
        margin-left: 15vw;
    }
    .font-stl{
        width: 30vw;
    }
}
@media screen and (min-width: 1841px) {
    .font-stl{
        width: 28vw;
    }
}
